<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>169216959955-eerrs0btifj2nnvo4qq8ongili1mhckg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169216959955-eerrs0btifj2nnvo4qq8ongili1mhckg</string>
	<key>API_KEY</key>
	<string>AIzaSyAk0Ynvfs8X3ur5qZJYXe-LY0Di317feAk</string>
	<key>GCM_SENDER_ID</key>
	<string>169216959955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tobiola.Instagram</string>
	<key>PROJECT_ID</key>
	<string>ig-server</string>
	<key>STORAGE_BUCKET</key>
	<string>ig-server.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169216959955:ios:d28cf1a97311c17d</string>
	<key>DATABASE_URL</key>
	<string>https://ig-server.firebaseio.com</string>
</dict>
</plist>